<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">1호</a></li>
            <li><a href="#">2호</a></li>
            <li><a href="#">3호</a></li>
            <li><a href="#">4호</a></li>
        </ul>
    </nav>